$primary-color: #ff1403;
$secondary-color: #EDEDED;
$primary-text-color: #fe1616;
$primary-font-size: 10px;
$primary-font-family : "Lato";


html,body{
    overflow-x: hidden;
    font-size: $primary-font-size;
    font-family: $primary-font-family, monospace;
}   
