$primary-color: #bb151c;
$primary-text-color: #fe1616;
$primary-font-size: 10px;
$primary-font-family : Roboto;


html,body{
    overflow-x: hidden;
    font-size: $primary-font-size;
    font-family: $primary-font-family, monospace;
}

.i-nav-bar{
    justify-content: center;
    padding-top: 1.1rem;
    padding-bottom: 1.1rem;
    letter-spacing: 0.04rem;
}

.navbar-nav .nav-link{
    color: $primary-text-color !important; 
    font-size: 1.35rem;
}

.nav-item{
    padding-left: .5rem;
    padding-right: .5rem;
}

@media screen and (min-width: 768px){
    .dropdown:hover .dropdown-menu, .btn-group:hover .dropdown-menu{
        display: block;
    }
    .dropdown-menu{
        margin-top: 0;
    }
    .dropdown-toggle{
        margin-bottom: 2px;
    }
    .navbar .dropdown-toggle, .nav-tabs .dropdown-toggle{
        margin-bottom: 0;
    }
}

.dropdown-menu{
    font-size: 1.25rem;
}

.dropdown-toggle::after{
    display: none;
}

.dropdown-item:hover{
    background-color: $primary-color;
    color: white;
}

.ticker-section--logo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.ticker-section--ticker{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.marquee {
  width: 90%;
  overflow: hidden;
}

.ticker-main-div {
    display: flex;
    align-items: center;
    height: 75px;
    padding: 10px;
}

.ticker--item {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.ticker--item__up {
    color: green;
}

.ticker--item__down {
    color: red;
}

.ticker--item__normal {
    color: blue;
}
