$primary-color: #ff1403;
$secondary-color: #00796e;
$primary-text-color: #fe1616;
$primary-font-size: 10px;
$primary-font-family : Roboto;


html,body{
    overflow-x: hidden;
    font-size: $primary-font-size;
    font-family: $primary-font-family, monospace;
}

.i-nav-bar{
    justify-content: center;

    padding-top: 1.1rem;
    padding-bottom: 1.1rem;
    letter-spacing: 0.04rem;
    background-color: $primary-color;
}

.navbar-nav .nav-link{
    color: white !important; 
    font-size: 1.35rem;
}

.nav-item{
    padding-left: .5rem;
    padding-right: .5rem;
}

@media screen and (min-width: 768px){
    .dropdown:hover .dropdown-menu, .btn-group:hover .dropdown-menu{
        display: block;
    }
    .dropdown-menu{
        margin-top: 0;
    }
    .dropdown-toggle{
        margin-bottom: 2px;
    }
    .navbar .dropdown-toggle, .nav-tabs .dropdown-toggle{
        margin-bottom: 0;
    }
}

.dropdown-menu{
    font-size: 1.25rem;
}

.dropdown-toggle::after{
    display: none;
}

.dropdown-item:hover{
    background-color: $primary-color;
    color: white;
}

.ticker-section--logo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.ticker-section--ticker{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.marquee {
  width: 90%;
  overflow: hidden;
}

.ticker-main-div {
    display: flex;
    align-items: center;
    height: 75px;
    padding: 10px;
}

.ticker--item {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.ticker--item__up {
    color: green;
}

.ticker--item__down {
    color: red;
}

.ticker--item__normal {
    color: blue;
}
.ticker--control--button{
    background-color: $secondary-color; 
    color: white;
}


.services-section-div{
    padding: 55px 0px;
}
.services-section-header{
    text-align: center;
    padding: 50px 0px;
    .services-section-header-text{
        font-size: 2.6rem;
        font-weight: 600;
        color: $primary-color;
        border-radius: 4px;
    }
}
.service-card-div{
    width: 220px;
    height: 250px;
    border-radius: 5px;
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.3);
    position: relative;
    background-color: $secondary-color;
}
.service-img-div{
    position: absolute;
    top: -30px;
    left: 60px;
}
.service-img{
    border-radius: 50%;
    border: 5px solid $primary-color;
    width: 100px;
    height: 100px;;
}
.service-card-header{
    color: white;
    font-size: 1.5rem;
    font-weight: 400;
    padding-top: 80px;
    text-align: center;
}
.service-card-details{
    color: white;
    font-size: 1.2rem;
    text-align: center;
    padding: 10px 10px 5px 10px;
}
.service-card-button-div{
    padding-top: 15px;
    text-align: center;
}
.service-card-button{
    background-color: $primary-color;
    color: white;
}




















































.imp--links--div {
    padding-top: 12rem;
    padding-bottom: 10rem;

    .imp--links--col {
        display: flex;
        justify-content: center;
        padding: 1rem;
        margin-bottom: 3rem;

        .imp--single-link--div {
            width: 100px;
            height: 100px;
            background-color: $primary-color;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 4px;
            box-shadow: 0px 5px 6px 0px #bfbcbc;
            padding: 5px;
            
            i{
                color: #fbffbc;
                font-size: 1.8rem;
                margin-bottom: 10px;
            }

            a {
                color: #fbffbc;
                text-align: center;
                font-size: 1.3rem;
            }
        }
    }
}

.hvr-bounce-to-bottom {
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    transition-property: color;
    transition-duration: 0.5s;

    &:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: $secondary-color;
        transform: scaleY(0);
        transform-origin: 50% 0;
        transition-property: transform;
        transition-duration: 0.5s;
        transition-timing-function: ease-out;
    }

    &:hover, &:focus, &:active {
        color: white;
    }

    &:hover:before, &:focus:before, &:active:before {
        transform: scaleY(1);
        transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    }
}



// *** Section Contact Us ***//
* {
  box-sizing: border-box;
}

/* Style inputs */
input[type=text], select, textarea, input[type=email] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Style the container/contact section */
.custom-container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
  margin: 50px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}


// Section Footer
.custom-footer{
    background-color: black;
    text-align: center;
    padding: 20px;
}
